<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="MOMService.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  
  
	<system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm"/>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="1" />
		<services>
			<service name="MOMService.Service1">
				<endpoint address=""
									   binding="webHttpBinding"
									   contract="MOMService.IService1"
									  behaviorConfiguration="web"></endpoint>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="web">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-MOM-20160520230457;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=0.0.0.0;Initial Catalog=database;Persist Security Info=True;User ID=user;Password=password;" providerName="System.Data.SqlClient" />
		<!--<add name="STRMDConnectionString" connectionString="Data Source=(localdb)\MyInstance;Initial Catalog=work;" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
</configuration>
